{% extends 'base.html' %}
{% block title %}Adding Test{% endblock %}
{% block content %}
<h3 class='my-4'>Conducting Test</h3>
<form method='POST'>
    {% csrf_token %}
    </br>
    Test Name
    <div class='form-group first-form boootm-space'>   
        <input class='form-control' type='text' name='testName' placeholder='Enter the test name'>
    </div></br>
    Number Of Questions
    <div class='form-group first-form boootm-space'>   
        <input class='form-control' type='number' name='numberOfQuestions' placeholder='Enter the count of questions'>
    </div></br>
    Test Date
    <div class='form-group first-form boootm-space'>   
        <input class='form-control' type='date' name='testDate' placeholder='Enter the test date'>
    </div></br>
    Test Start Time
    <div class='form-group first-form boootm-space'>   
        <input class='form-control' type='time' name='testStartTime' placeholder='Enter the test start time'>
    </div></br>
    Test End Time
    <div class='form-group first-form boootm-space'>   
        <input class='form-control' type='time' name='testEndTime' placeholder='Enter the test end time'>
    </div></br>
    <div class='pt-4'>
        <button type='submit' class='btn btn-primary submitBtn' style='color: #fff'>Save</button>
    </div> 
    </br>
</form>
{% endblock %}