{% extends 'base.html' %}
{% block cssFiles %}
<link rel="stylesheet" href="/static/home.css">
 {% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">                
            <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#nav-tab" 
            aria-controls="nav-tab" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav nav-tabs" id="nav-tab" role="tablist">
              <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-square-caret-down fa-xl"></i></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
              </ul>
                <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-house"></i> Home</button>
                <button class="nav-link" id="nav-add-subject-tab" data-bs-toggle="tab" data-bs-target="#nav-add-subject" type="button" role="tab" aria-controls="nav-add-subject" aria-selected="false"><i class="fa-solid fa-book"></i> Add Subject</button>
                <button class="nav-link" id="nav-replace-professor-tab" data-bs-toggle="tab" data-bs-target="#nav-replace-professor" type="button" role="tab" aria-controls="nav-replace-professor" aria-selected="false"><i class="fa-solid fa-book"></i> Replace Professor</button>
                <button class="nav-link" id="nav-remove-subject-tab" data-bs-toggle="tab" data-bs-target="#nav-remove-subject" type="button" role="tab" aria-controls="nav-remove-subject" aria-selected="false"><i class="fa-sharp fa-solid fa-scroll"></i> Remove Subject</button>
                <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-chalkboard-user"></i> About Me</button>
                <button class="nav-link" id="nav-profile-update-tab" data-bs-toggle="tab" data-bs-target="#nav-profile-update" type="button" role="tab" aria-controls="nav-profile-update" aria-selected="false"><i class="fa-solid fa-user"></i> Update Profile</button>
            </div>
            <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;" >
            </a>
        </nav>
    </div>
</section>

<section class="middle-page" style="min-height:40rem; 
background-color: #e3f1f6;
align-items: center;">
    <div class="tab-content" id="nav-tabContent">
      <!-- Home -->
      <div class="home-content tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        {% if subjects %}
        <table class="table table-bordered table-striped table-hover">
          <thead>
            <tr style="background-color: #0B2447; color: #fff;">
              <th>SUBJECT ID</th>
              <th>SUBJECT NAME</th>
              <th>PROFESSOR EMAIL ID</th>
            </tr>
          </thead>
        {% for subject in subjects %}
        <tr>  
        <td><h4><strong>{{subject.subjectID}}</strong></h4></td>
        <td><h4><strong>{{ subject.subjectName}}</strong></h4></td>
        <td><h4><strong>{{ subject.profemail}}</strong></h4></td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        <h2><b>Subjects are not added yet.</b></h2>
        {% endif%}
      </div>

      <!-- Add Subject -->
      <div class="add-subject-content tab-pane fade card" id="nav-add-subject" role="tabpanel" aria-labelledby="nav-add-subject-tab">
        {% if messages %}
            {% for message in messages %}
            {% if 'AssignSubjectFailed' in message.tags or 'AssignedSubject' in message.tags %}
        <script>
          var message = "{{message}}";
          alert(message);
        </script> 
        {% endif%}
       {% endfor %}
       {% endif %}  
        <form action="" method='POST'>
          {% csrf_token %}
          <table class="table-body">
              <tr class="table-row">
                <td><strong>Subject Name</strong></td>
                <td class="table-data"><input class="input-field" type="text" name='subjectName' required/></td>
              </tr>
              <tr class="table-row">
                  <td><strong>Subject ID</strong></td>
                  <td class="table-data"><input class="input-field" type="text" name='subjectID' required/></td>
              </tr>
              <tr class="table-row">
                    <td><strong>Assign Professor</strong></td>
                    <td class="table-data">
                        <select class="input-field" name="profemail" id="profemail" required>
                            <option value="" disabled selected >--Select Professor--</option>
                            {% for professor in professors %}
                            <option value="{{ professor.email }}">{{ professor.email }}</option>
                            {% endfor %}
                        </select>
                    </td>
              </tr>
            </table>
          <button type="submit" class="btn-primary btn btn-lg submitBtn" name="add-subject-btn" style="margin-top:2%;"><h5>Add Subject</h5></button>          
        </form>
      </div>

      <!-- Replace Professor -->
      <div class="replace-professor-content tab-pane fade card" id="nav-replace-professor" role="tabpanel" aria-labelledby="nav-replace-professor-tab">
        {% if messages %}
            {% for message in messages %}
            {% if 'ProfessorReplaced' in message.tags or 'ReplaceSubjectFailed' in message.tags %}
        <script>
          var message = "{{message}}";
          alert(message);
        </script> 
        {% endif%}
       {% endfor %}
       {% endif %}
       <form action="" method='POST'>
          {% csrf_token %}
          <table class="table-body">
              <tr class="table-row">
                  <td><strong>Subject</strong></td>
                  <td class="table-data"><select class="input-field" name="subjectID" id="subjectID" required>
                  <option value="" disabled selected >--Select subject--</option>
                  {% for subject in subjects %}
                  <option value="{{ subject.subjectID }}">{{ subject.subjectID }} - {{ subject.subjectName }}</option>
                  {% endfor %}
                </select></td>
              </tr>
              <tr class="table-row">
                <td><strong>Assign Professor</strong></td>
                    <td class="table-data">
                        <select class="input-field" name="profemail" id="profemail" required>
                            <option value="" disabled selected >--Select Professor--</option>
                            {% for professor in professors %}
                            <option value="{{ professor.email }}">{{ professor.email }}</option>
                            {% endfor %}
                        </select>
                    </td>
            </tr>
          </table>
          <button type="submit" class="btn-primary btn btn-lg submitBtn" name="replace-professor-btn" style="margin-top:2%;"><h5>Replace Professor</h5></button>          
        </form>
      </div>

      <!-- Remove Subject-->
      <div class="remove-subject-content tab-pane fade card" id="nav-remove-subject" role="tabpanel" aria-labelledby="nav-remove-subject-tab">
        {% if messages %}
            {% for message in messages %}
            {% if 'DeletedSubject' in message.tags %}
        <script>
          var message = "{{message}}";
          alert(message);
        </script> 
        {% endif%}
       {% endfor %}
       {% endif %}
       <form action="" method='POST'>
          {% csrf_token %}
          <table class="table-body">
              <tr class="table-row">
                  <td><strong>Subject</strong></td>
                  <td class="table-data"><select class="input-field" name="subjectID" id="subjectID" required>
                  <option value="" disabled selected >--Select subject--</option>
                  {% for subject in subjects %}
                  <option value="{{ subject.subjectID }}">{{ subject.subjectID }} - {{ subject.subjectName }}</option>
                  {% endfor %}
                </select></td>
              </tr>
            </table>
          <button type="submit" class="btn-primary btn btn-lg submitBtn" name="remove-subject-btn" style="margin-top:2%;"><h5>Remove Subject</h5></button>          
        </form>
      </div>

      <!-- About Me -->
      <div class="profile-content tab-pane fade card" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        {% if hod.gender == "female" %}
        <img class="profile-pic" src=" https://em-content.zobj.net/source/microsoft-teams/363/woman-office-worker_1f469-200d-1f4bc.png">
        {% else %}
        <img class="profile-pic" src="https://em-content.zobj.net/source/microsoft-teams/363/man-office-worker_1f468-200d-1f4bc.png">
        {% endif %} 
        <h2><b>All About Me</b></h2></br>
        <h5 style="padding-bottom:2%">Name: <b>{{hod.name}}</b></h5>
        <h5 style="padding-bottom:2%">College: <b>{{hod.branch.college.name}}</b></h5>
        <h5 style="padding-bottom:2%">Branch: <b>{{ hod.branch }}</b></h5>
        <h5 style="padding-bottom:2%">Email: <b>{{ hod.email }}</b></h5>             
      </div>

      <!-- Update Profile -->          
      <div class="card profile-update-content tab-pane fade" id="nav-profile-update" role="tabpanel" aria-labelledby="nav-profile-update-tab">
        {% if messages %}
            {% for message in messages %}
            {% if 'InvalidDetails' in message.tags or 'ProfileUpdated' in message.tags %}
        <script>
          var message = "{{message}}";
          alert(message);
        </script> 
        {% endif%}
       {% endfor %}
       {% endif %}           
        <form action="" method='POST'>
            {% csrf_token %}
             <h2><b>Please enter in the fields that you want to update</b></h2></br>
             <table class="table-body">
              <tr class="table-row">
                <td><strong>Name</strong></td>
                <td class="table-data"><input class="input-field" type="text" autocomplete="off" name='name' autocomplete="off" value="{{hod.name}}"/></td>
              </tr>
                <tr class="table-row">
                  <td><strong>Change Password</strong></td>
                  <td class="table-data"><input class="input-field" autocomplete="off" type="password" name="password1"/></td>
                </tr>
                <tr class="table-row">
                    <td><strong>Confirm Password</strong></td>
                    <td class="table-data"><input class="input-field" autocomplete="off" type="password" name="password2"/></td>
                </tr>
               </table>
            <button type="submit" class="btn-primary btn btn-lg" name="update-hod-profile-btn" autocomplete="off" style="margin-top:2%;"><h5>Update Profile</h5></button>
        </form>
      </div>
    </div>
</section>
{% endblock %}