{% extends 'base.html' %}
{% block cssFiles %} 
<link rel="stylesheet" href="/static/edutrack.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid ">  

      <!-- Nav Bar -->     
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;" ></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#aboutUs"><i class="fa-solid fa-desktop"></i> About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#syllabus"><i class="fa-solid fa-book"></i> Syllabus</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#footer"><i class="fa-solid fa-address-book"></i> Contact</a>
              </li>
          </ul> 
        </div>
      </nav>

      <!-- Login -->
      <div class="row page-top">
        {% if messages %}
          {% for message in messages %}
            {% if 'FailedToLogin' in message.tags or 'badpassword' in message.tags or 'RegisterStud' in message.tags or 'RegisterProf' in message.tags or 'RegisterHOD' in message.tags or 'RegisterDirector' in message.tags  %}
              <script>
                var message = "{{message}}";
                alert(message);
              </script>
            {% endif%}
          {% endfor %}
        {% endif %}
        <div class="col-lg-6">
          <h1>Forget about sweaty palms and cramped fingers, our exam platform is the ultimate way to ace that test! 💯</h1>
        </div>
        <div class="col-lg-6">          
          <form class="login-form" action="" method='POST'>
            {% csrf_token %}
            <h1><b>Login </b></h1>
            <table class="table-body">
              <tr class="table-row">
                <td>Enter Your User Name</td>
                <td class="table-data"><input class="input-field" type="username" name='username' required/></td>
              </tr>
              <tr class="table-row">
                <td>Enter The Password</td>
                <td class="table-data"><input class="input-field" type="password" name="password" required /></td>
              </tr>
              <tr class="table-row">
                <td>Select Your Role</td>
                <td class="table-data"><select class="input-field" name="role" id="role" required>
                  <option value="" disabled selected >Select Your Role</option>
                  <option value="Student">Student</option>
                  <option value="Professor">Professor</option>
                  <option value="HOD">Head Of Department</option>
                  <option value="Director">Director</option>
                </select></td>
              </tr>
            </table>
            </br>
            <button class="login-button" type="submit" class="btn-primary btn btn-lg">Login</button>
            </br>
            </br>
            <p>Not a member? <a href="{% url 'registration' %}">Register Here</a></p>
          </form>
        </div>
      </div>
    </div>
  </section>

  <!-- About Us -->
  <section id="aboutUs">
    <h1><b>ABOUT US</b></h1>
    <div class="about-us">
      <h5>Welcome to Edutrack, the innovative online examination system that is revolutionizing the way exams are conducted and simplifying the assessment process. With a focus on convenience, efficiency, and security, our application aims to provide a seamless examination experience for both students and professors. Our system is designed with a four-layered application structure, comprising Directors, HODs, Professors, and Students. This hierarchical setup ensures smooth coordination, efficient test management, and secure access control.</h5>
      <h5>One of the standout features of our application is the streamlined process of test arrangement. Professors only need to upload a CSV file containing the question bank for their respective subjects once. Thereafter, they can easily specify the test details, including the test name, the desired number of questions, and the activation date and time. Our system automatically arranges the test by randomly selecting the required number of questions from the uploaded question bank.</h5>
      <h5>Edutrack is a game-changer in the field of online examination systems. Our platform is designed to provide a seamless and secure examination experience for both students and professors. With our innovative four-layered application structure, we ensure efficient test management and secure access control. Our streamlined process of test arrangement saves professors time and effort, allowing them to focus on what matters most - teaching. Join us today and experience the future of online examinations with Edutrack.</h5>
    </div>
  </section>

  <!-- Features -->
  <section id="feature_container" style="background-color: #c4ebf994; padding-bottom: 8%;">
      <div class="feature_heading" style="font-size: 24px;font-weight: bold; margin-bottom: 10px;"><h1><b>Features</b></h1></div>
      <div class="container">
      <div class="row" style="display: flex;justify-content: center;align-items: center;">
        <div class ="column" style="border-right: 2px solid black;width: 250px;height: 250px;">
        <div class="circle-container">
          <div class="circle" style="position: absolute;margin: auto;top: 0;right: 0;bottom: 0;left: 0;text-align: center;width: 150px;height: 150px;border-radius: 50%;background-color: #fff;margin: 20px 20px;position: relative;">
          <img class="image" src="https://t3.ftcdn.net/jpg/05/00/13/70/360_F_500137097_2XOQk3XkpxLtpJIGzy39zhAzjmCwJBGJ.jpg" style="width: 150px;
                height: 150px;
                border-radius: 50%;">
          </div>
        </div>
          <h4 align="center">Convenience</h4>
        </div>
        <div class ="column" style="border-right: 2px solid black;width: 250px;height: 250px;">
          <div class="circle-container">
            <div class="circle" style="position: absolute;margin: auto;top: 0;right: 0;
          bottom: 0;left: 0;text-align: center;width: 150px;height: 150px;border-radius: 50%;background-color: #fff;margin: 20px 20px;
          position: relative;">
            <img src="https://static.vecteezy.com/system/resources/thumbnails/010/135/677/small/streamline-process-line-icon-with-gears-vector.jpg" style="width: 150px;
                height: 150px;
                border-radius: 50%;">
            </div>
          </div>
            <h4 align="center">Streamlined Test Arrangement</h4>
          </div>
          <div class ="column" style="border-right: 2px solid black;width: 250px;height: 250px;">
            <div class="circle-container" >
              <div class="circle" style="position: absolute;margin: auto;top: 0;right: 0;bottom: 0;left: 0;text-align: center;width: 150px;height: 150px;border-radius: 50%;background-color: #fff;margin: 20px 20px;position: relative;">
              <img src="https://cdn-icons-png.flaticon.com/512/3886/3886815.png" style="width: 150px;
                height: 150px;
                border-radius: 50%;">
              </div>
            </div>
            <h4 align="center">Efficiency</h4>
            </div>
            <div class ="column" style="border-right: 2px solid black;width: 250px;height: 250px;">
              <div class="circle-container">
                <div class="circle" style="position: absolute;margin: auto;top: 0;right: 0;
          bottom: 0;left: 0;text-align: center;width: 150px;height: 150px;border-radius: 50%;background-color: #fff;margin: 20px 20px;
          position: relative;">
                <img src="https://thumbs.dreamstime.com/b/padlock-security-shield-lock-protection-icon-logo-beautiful-design-fully-editable-commercial-print-media-web-any-166831929.jpg" style="width: 150px;
                height: 150px;
                border-radius: 50%;">
                </div>
              </div>
              <h4 align="center">Security</h4>
              </div>     
    </div>
  </div>
  </section>

{% endblock %}