{% extends 'base.html' %}
{% block cssFiles %}
<link rel="stylesheet" href="/static/registration.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">

      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
          <button class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#nav-tab" 
          aria-controls="nav-tab" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="nav nav-tabs">
            <li class="nav-item dropdown">
              <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-square-caret-down fa-xl"></i></a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'login' %}">Login</a></li>
              </ul>
            </li>
          </ul>
          <div class="collapse navbar-collapse nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-student-tab" data-bs-toggle="tab" data-bs-target="#nav-student" type="button" role="tab" aria-controls="nav-student" aria-selected="true"><i class="fa-solid fa-user-graduate"></i> For Student</button>
            <button class="nav-link" id="nav-professor-tab" data-bs-toggle="tab" data-bs-target="#nav-professor" type="button" role="tab" aria-controls="nav-professor" aria-selected="false"><i class="fa-solid fa-chalkboard-user"></i> For Professor</button>
            <button class="nav-link" id="nav-hod-tab" data-bs-toggle="tab" data-bs-target="#nav-hod" type="button" role="tab" aria-controls="nav-hod" aria-selected="false"><i class="fa-solid fa-user"></i></i> For HOD</button>
            <button class="nav-link" id="nav-director-tab" data-bs-toggle="tab" data-bs-target="#nav-director" type="button" role="tab" aria-controls="nav-director" aria-selected="false"><i class="fa-solid fa-user-tie"></i> For Director</button>
          </div>
          <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;"></a>
      </nav>
  </div>
  </section>

  <!-- Registration Form-->
  <section id="registration-form">
    <div class="tab-content" id="nav-tabContent">

      <!-- Student Registration Form -->

      <div class="card student-form tab-pane fade show active" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
        {% if messages %}
              {% for message in messages %}
                {% if 'UserExist' in message.tags or 'WrongEmailId' in message.tags or 'FailedToRegisterStud' in message.tags or 'FailedToRegisterProf' in message.tags or 'badpassword' in message.tags or 'FailedToRegisterDirector' in message.tags or 'NotADirector' in message.tags or 'FailedToRegisterHOD' in message.tags or 'NotAssignedHOD' in message.tags or 'BranchNotFound' in message.tags or 'CollegeNotFound' in message.tags %}
          <script>
            var message = "{{message}}";
            alert(message);
          </script>
           {% endif%}
        {% endfor %}
        {% endif %}
          <form action="" method='POST'>
              {% csrf_token %}
              <h5>IT'S TIME TO KNOW ABOUT YOU</h5>
              <img class="hii" src="https://em-content.zobj.net/source/noto-emoji-animations/344/smiling-face-with-halo_1f607.gif">
               <h2><b>Tell Us About Yourself</b></h2></br>
               <h5>What's your first name?</h5>
               <input class="input-field" type="text" name='fname' autocomplete="off" required/></br></br>
               <h5>How about your last name?</h5>
               <input class="input-field" type="text" name='lname' autocomplete="off" required/></br></br>
               <h5>Gender</h5>
               <input type="radio" name="gender" value="male" required /><label for="male"><h5>Male</h5></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" value="female" required /><label for="female"><h5>Female</h5></label></br></br>
               <h5>Which college are you a student at?</h5> 
               <select class="input-field" name="college" id="stud_college" required>
                  <option value="" disabled selected>--Select Your College--</option>
                  {% for college in colleges %}
                    <option value="{{ college.name }}">{{ college.name }}</option>
                  {% endfor %}
                </select></br></br>
               <h5>Which branch do you belong to?</h5> 
               <select class="input-field" name="branch" id="stud_branch" required>
                <option value="" disabled selected>-- Select Your Branch --</option>
                {% for branch in branches %}
                  <option value="{{ branch.branch }}">{{ branch.branch }}</option>
                {% endfor %}
               </select></br></br>
               <h5>What is your registration number?</h5>
               <input class="input-field" type="text" name='registrationNum' autocomplete="off" required/></br></br>
               <h5>What is your email address?</h5>
               <input class="input-field" type="email" name='email' autocomplete="off" required/></br></br>
               <h5>Choose a password</h5>
               <input class="input-field" type="text" name='password1' autocomplete="off" required/></br></br>
               <h5>Confirm new password</h5>
               <input class="input-field" type="password" name='password2' autocomplete="off" required/></br></br>
              <button type="submit" class="btn-primary btn btn-lg" name="student-registration"><h5>Register Me</h5><!--a class="btn reg-btn display-block padding-x-2xl tablet:display-inline-bloack tablet:margin-x-sm">Register Me</a--></button>
          </form>
        </div>
    
        <!-- Professor Registration Form -->

        <div class="card professor-form tab-pane fade" id="nav-professor" role="tabpanel" aria-labelledby="nav-professor-tab">
            <form action="" method='POST'>
              {% csrf_token %}
              <h5>IT'S TIME TO KNOW ABOUT YOU</h5>
              <img class="hii" src="https://em-content.zobj.net/source/noto-emoji-animations/344/smiling-face-with-halo_1f607.gif">
               <h2><b>Tell Us About Yourself</b></h2></br>
               <h5>What is your First name?</h5>
               <input class="input-field" type="text" autocomplete="off" name='fname' required/></br></br>
               <h5>What is your Last name?</h5>
               <input class="input-field" type="text" autocomplete="off" name='lname'required/></br></br>
                <h5>Gender</h5>
                <input type="radio" name="gender" value="male" required /><label for="male"><h5>Male</h5></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" name="gender" value="female" required /><label for="female"><h5>Female</h5></label></br></br>
               <h5>In which college are you teaching?</h5> 
               <select class="input-field" name="college" id="prof_college" required>
                  <option value="" disabled selected>--Select Your College--</option>
                  {% for college in colleges %}
                    <option value="{{ college.name }}">{{ college.name }}</option>
                  {% endfor %}
                </select></br></br>
               <h5>Which department do you belong to?</h5> 
               <select class="input-field" name="branch" id="prof_branch" required>
                <option value="" disabled selected>-- Select Your Department --</option>
              </select></br></br>               
               <h5>What is your email address?</h5>
               <input class="input-field" type="email" name='email' autocomplete="off" required/></br></br>
               <h5>Choose a password</h5>
               <input class="input-field" type="text" name='password1' autocomplete="off" required/></br></br>
               <h5>Confirm new password</h5>
               <input class="input-field" type="password" name='password2' autocomplete="off" required/></br></br>
              <button type="submit" class="btn-primary btn btn-lg" name="professor-registration"><h5>Register Me</h5><!--a class="btn reg-btn display-block padding-x-2xl tablet:display-inline-bloack tablet:margin-x-sm">Register Me</a--></button>
           </form>
        </div>

        <!-- HOD Registration Form -->

        <div class="card hod-form tab-pane fade" id="nav-hod" role="tabpanel" aria-labelledby="nav-hod-tab">
          <form action="" method='POST'>
            {% csrf_token %}
            <h5>IT'S TIME TO KNOW ABOUT YOU</h5>
            <img class="hii" src="https://em-content.zobj.net/source/noto-emoji-animations/344/smiling-face-with-halo_1f607.gif">
             <h2><b>Tell Us About Yourself</b></h2></br>
             <h5>What is your good name?</h5>
             <input class="input-field" type="text" name='name' autocomplete="off" required/></br></br>
             <h5>Gender</h5>
              <input type="radio" name="gender" value="male" required /><label for="male"><h5>Male</h5></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <input type="radio" name="gender" value="female" required /><label for="female"><h5>Female</h5></label></br></br>
            <h5>Which college are you the HOD?</h5> 
             <select class="input-field" name="college" id="hod_college" required>
                <option value="" disabled selected>--Select Your College--</option>
                {% for college in colleges %}
                  <option value='{{ college.name }}'>{{ college.name }}</option>
                {% endfor %}
              </select></br></br>
             <h5>Which department do you belong to?</h5> 
             <select class="input-field" name="branch" id="hod_branch" required>
                <option value="" disabled selected>--Select Your Department--</option>
              </select></br></br>
             <h5>What is your email address?</h5>
             <input class="input-field" type="email" name='email' autocomplete="off" required/></br></br>
             <h5>Choose a password</h5>
             <input class="input-field" type="text" name='password1' autocomplete="off" required/></br></br>
             <h5>Confirm new password</h5>
             <input class="input-field" type="password" name='password2' autocomplete="off" required/></br></br>
            <button type="submit" class="btn-primary btn btn-lg" name="hod-registration"><h5>Register Me</h5><!--a class="btn reg-btn display-block padding-x-2xl tablet:display-inline-bloack tablet:margin-x-sm">Register Me</a--></button>
         </form>
      </div>

      <!-- Director Registration Form -->

      <div class="card director-form tab-pane fade " id="nav-director" role="tabpanel" aria-labelledby="nav-director-tab">
        <form action="" method='POST'>
          {% csrf_token %}
          <h5>IT'S TIME TO KNOW ABOUT YOU</h5>
          <img class="hii" src="https://em-content.zobj.net/source/noto-emoji-animations/344/smiling-face-with-halo_1f607.gif">
           <h2><b>Tell Us About Yourself</b></h2></br>
           <h5>What is your good name?</h5>
           <input class="input-field" type="text" name='name' autocomplete="off" required/></br></br>
           <h5>Gender</h5>
            <input type="radio" name="gender" value="male" required /><label for="male"><h5>Male</h5></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="radio" name="gender" value="female" required /><label for="female"><h5>Female</h5></label></br></br>
          <h5>What is your college name ?</h5> 
           <select class="input-field" name="college" id="college" required>
              <option value="" disabled selected>--Select Your College--</option>
              {% for college in colleges %}
                <option value="{{ college.name }}">{{ college.name }}</option>
              {% endfor %}
            </select></br></br>
           <h5>What is your email address?</h5>
           <input class="input-field" type="email" name='email' autocomplete="off" required/></br></br>
           <h5>Choose a password</h5>
           <input class="input-field" type="text" name='password1' autocomplete="off" required/></br></br>
           <h5>Confirm new password</h5>
           <input class="input-field" type="password" name='password2' autocomplete="off" required/></br></br>
          <button type="submit" class="btn-primary btn btn-lg" name="director-registration"><h5>Register Me</h5>
        </form>
      </div>

    </div>
  </section>
{% endblock %}
{% block scripts %}
<script>
document.getElementById('stud_college').addEventListener('change', function() {
    var collegename = this.value;
    var branchDropdown = document.getElementById('stud_branch');
    branchDropdown.innerHTML = '<option value="" disabled selected>-- Select Your Branch --</option>';
    if (collegename) {
      {% for branch in branches %}
      if (collegename === '{{ branch.college.name }}') {
          var option = document.createElement('option');
          option.value = "{{ branch.branch }}";
          option.text = "{{ branch.branch }}";
          branchDropdown.appendChild(option);
      }
      {% endfor %}
  }
});
document.getElementById('prof_college').addEventListener('change', function() {
var collegename = this.value;
var branchDropdown = document.getElementById('prof_branch');
branchDropdown.innerHTML = '<option value="" disabled selected>-- Select Your Department --</option>';
if (college.name) {
  {% for branch in branches %}
  if (collegename === '{{ branch.college.name }}') {
      var option = document.createElement('option');
      option.value = "{{ branch.branch }}";
      option.text = "{{ branch.branch }}";
      branchDropdown.appendChild(option);
  }
  {% endfor %}
}
});
document.getElementById('hod_college').addEventListener('change', function() {
var collegename = this.value;
var branchDropdown = document.getElementById('hod_branch');
branchDropdown.innerHTML = '<option value="" disabled selected >-- Select Your Department --</option>';
if (collegename) {
  {% for branch in branches %}
  if (collegename === '{{ branch.college.name }}') {
      var option = document.createElement('option');
      option.value = "{{ branch.branch }}";
      option.text = "{{ branch.branch }}";
      branchDropdown.appendChild(option);
  }
  {% endfor %}
}
});
</script>
 {% endblock %}