{% extends 'base.html' %}
{% block title %}Upcoming Tests{% endblock %}
{% block content %}
<h3 class='my-4'>Select Subject</h3>
<div class='row'>
    {% if data %}
    {% for d in data %}
    <div class='col-md-4'>
        <div class='card'>
            <div class='card-body border-dark shadow'>
                <h4 class='test-name'><a href="{% url 'selectTest' d.id %}">{{d.subjectID}}</br>{{d.subjectName}}</a></h4>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        <h4>No Tests Are Arranged Yet</h4>
    {% endif %}
</div>
{% endblock %}