{% extends 'base.html' %}
{% block cssFiles %} 
<link rel="stylesheet" href="/static/tests.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">
  
      <!-- Nav Bar -->      
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link" href="#footer"><i class="fa-solid fa-address-book"></i> Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'studentHome' %}"><i class="fa-solid fa-house"></i> Back to Home</a>
              </li>
          </ul> 
        </div>
      </nav>
    </div>
  </section>

  <!-- Tests -->
  <section id="allTests" style="background-color:white; min-height:40rem; align-items: center;">
    
      <!-- Active Tests -->
      {% if active_tests %}
        </br><h2><b>Active Tests</b></h2>
        <div class='row container'>
        {% for d in active_tests %}        
          <div class="col-sm-4 col-md-4 col-lg-3  border-0 rounded-0" >
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" style="background-color: #bcc8e09c; text-align: center;">
                <h4 class="card-title">{{d.testName}}</h4>
                <h5>{{ d.subjectID}}</h5>
                <p>{{ d.DateOfExam}}</p>
                <p>{{ d.StartTime}} to  {{ d.EndTime}}</p>
                <a href="{% url 'test_question' d.id %}" class="btn btn-outline-primary rounded-0">Attempt Now</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <div class="test-card"><h3><b>No Active Tests</b></h3></div>
      {% endif %}

      <!-- Resume Tests -->        
      {% if resume_tests %}
        </br><h2><b>Resume Tests</b></h2>
        <div class="row container">
          {% for d in resume_tests %}
          <div class="col-sm-4 col-md-4 col-lg-3 border-0 rounded-0">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" style="background-color: #ee9494cf; text-align: center;">
                <h4 class="card-title">{{d.testName}}</h4>
                <h5>{{ d.subjectID}}</h5>
                <p>{{ d.DateOfExam}}</p>
                <p>{{ d.StartTime}} to  {{ d.EndTime}}</p>
                <a href="{% url 'test_question' d.id %}" class="btn btn-outline-danger rounded-0">Resume Now</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="test-card"><h3><b>No Resume Tests</b></h3></div>
      {% endif %}

      <!-- Upcoming Tests-->  
      {% if upcoming_tests %}
        </br><h2><b>Upcoming Tests</b></h2>
        <div class="row container">
          {% for d in upcoming_tests %}
          <div class="col-sm-4 col-md-4 col-lg-3 border-0 rounded-0">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" style="text-align: center;">
                <h4 class="card-title">{{d.testName}}</h4>
                <h5>{{ d.subjectID}}</h5>
                <p>{{ d.DateOfExam}}</p>
                <p>{{ d.StartTime}} to  {{ d.EndTime}}</p>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        <div class="test-card"><h3><b>No Upcoming Tests</b></h3></div>
      {% endif %}

</section>
{% endblock %}