<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" , content="with =device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/icon.ico">
    <title>EduTrack</title>
    <link rel="stylesheet" href="/static/registrationForm.css" />
  </head>
  <body>
			<section class="header">
					<nav>
            <div class="container-fluid" style="float:left;position:fixed;top:0;left:10px;">
              <div class="header-inner">
              <img src="/static/logo.png" alt="logo" style="width:180px;height:9vh;" >
              </div>
            </div>
						<div class="nav-links" id="navLinks">
							<ul>
								<li><a href="">ABOUT</a></li>
								<li><a href="">FAQs</a></li>
								<li><a href="{% url 'login' %}">LOGIN</a></li>
							</ul>
						</div>
					</nav>
				</section>
	
		<div class=register>
				<form action="" method='POST'>
                    {% csrf_token %}
					<h2>Student Registration<h2></br>
                        <h4>Enter Your First Name</h4>
						<div class="inputGroup">				
							<input type="text" placeholder="First Name" name='fname' autocomplete="off">
						</div></br>
                        <h4>Enter Your Last Name</h4>		
                        <div class="inputGroup">			
							<input type="text" placeholder="Last Name" name='lname' autocomplete="off">
						</div>	</br>
                        <h4>Select Your Branch</h4>
						<div class="mb-3">
                            <br />
                            <div class="dropdown">
                              <select name="branch" id="branch">
                                <option>Select Your Branch</option>
                                <option value="Chemical Engineering">Chemical Engineering</option>
                                <option value="Civil Engineering">Civil Engineering</option>
                                <option value="Computer Science Engineering">Computer Science Engineering</option>
                                <option value="Electrical Engineering">Electrical Engineering</option>
                                <option value="Electronics and Telecommunication">Electronics and Telecommunication</option>
                                <option value="Information Technology">Information Technology</option>
                                <option value="Instrumentation Engineering">Instrumentation Engineering</option>
                                <option value="Mechanical Engineering">Mechanical Engineering</option>
                                <option value="Production Engineering">Production Engineering</option>
                                <option value="Textile Engineering">Textile Engineering</option>
                              </select>
                            </div>
                          </div></br></br>
                          <h4>Enter Your Registration Number</h4>	
						<div class="inputGroup">	
							<input type="text" placeholder="E.g., 2019BCS031, 2019BEC031" name='registrationNum' autocomplete="off">
						</div></br><h4>Enter Your Email Address</h4>	
						<div class="inputGroup">	
							<input type="text" placeholder="Email address" name='email' autocomplete="off">
						</div></br>
                        <h4>Create New Password</h4>
						<div class="inputGroup">	
							<input type="text" placeholder="Create new Password" name='password1' autocomplete="off">
						</div></br>
                        <h4>Confirm Password</h4>
						<div class="inputGroup">			
							<input type="text" placeholder="Confirm Password" name='password2' autocomplete="off">
				        </div>
						<button type="submit" class="submitBtn" autocomplete="off">Register</button>
            <h5><span><a href="{% url 'login' %}">I have already account</a></span></h5>
				</form>
			</div>
            {{data|safe}}
<footer >
        <div class="container">
            <h3>Syllabus</h3>
            <div class="row">
              <div class="footer-col">
                <h4>Production Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Production-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Production-w.e.f.AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20new%20B-Tech%20(Production%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Textile Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Textile-Technology.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Textile-w.e.f.-AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/B%20Tech%20(Textile%20Technology)Revised.pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Electrical Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Electrical-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Electrical-AY-2020-21-Modified-2020_04.08.2020.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B%20Tech%20%20(Electrical%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Mechanical Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/07/SY_detailed-syllabus_Mech_Engg_SemI_20_21.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Mechanical-Engineering-w.e.f.AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B-Tech%20(Mechanical%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Chemical Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Chemical-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Chemical-w.e.f.-AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B-%20Tech%20(Chemical%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="footer-col">
                <h4>Computer Science and Engineering</h4>
                <ul>
                    <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Computer-Science-and-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Coputer-Science-w.e.f.AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/deparments/Computer%20Science/B-%20Tech%20Syllabus%202021-22.pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Information Technology</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Information-Technology.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Information-Technology-w.e.f.AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B%20Tech%20(Information%20Technology).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Electronics and Telecommunication Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Electronics-and-Telecommunication.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Electronics-w.e.f.AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B-%20Tech%20(Electronics%20and%20Telecommunication%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Civil Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Civil-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2020/08/Revised-Syllabus-TY-Civil-w.e.f.-AY-2020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B-Tech%20(Civil%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
              <div class="footer-col">
                <h4>Instrumentation Engineering</h4>
                <ul>
                  <li><a href="https://sggs.ac.in/source/uploads/2018/11/FY-Syllabus-Final-Version_1.pdf" >First Year</a></li>
                  <li><a href="https://sggs.ac.in/source/uploads/2019/10/Syllabus-SY-Instrumentation-Engineering.pdf" >Second Year</a></li>
                  <li><a href="https://sggs.ac.in//source/Academics/Revised%20T-Y-%20B-Tech%20Instrumentation%20Syllabus%202020-21.pdf" >Third Year</a></li>
                  <li><a href="https://sggs.ac.in//source/1%20B%20Tech%20(Instrumentation%20Engineering).pdf" >Final Year</a></li>
                </ul>
              </div>
            </div>             
          </div>
    </footer> 
	</body>			
</html>

