{% extends 'base.html' %}
{% block cssFiles %} 
<link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark">
            
            <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#nav-tab" 
            aria-controls="nav-tab" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse nav nav-tabs" id="nav-tab" role="tablist">
              <ul class="nav nav-tabs">
                <li class="nav-item dropdown">
                  <a class="nav-link" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><i class="fa-solid fa-square-caret-down fa-xl"></i></a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                  </ul>
                </li>
              </ul>
              <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true"><i class="fa-solid fa-house"></i> Home</button>
              <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false"><i class="fa-solid fa-user-graduate"></i> About Me</button>
              <button class="nav-link" id="nav-profile-update-tab" data-bs-toggle="tab" data-bs-target="#nav-profile-update" type="button" role="tab" aria-controls="nav-profile-update" aria-selected="false"><i class="fa-solid fa-user"></i> Update Profile</button>
            </div>
            <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;"></a>
        </nav>
    </div>
</section>

<section class="middle-page">
    <div class="tab-content" id="nav-tabContent">

      <!-- Home -->

      <div class="home-content tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="card"><a href="{% url 'selectTest' %}"><i class="fa-solid fa-file-zipper fa-beat fa-2xl"> tests</i></a></div>
        <div class="card"><a href="{% url 'studentResults' %}"><i class="fa-solid fa-square-poll-vertical fa-beat fa-2xl"> results</i></a></div>
      </div>
      <!-- About Me -->

      <div class="profile-content tab-pane fade card" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        {% if student.gender == "male" %}
        <img class="profile-pic" src="https://em-content.zobj.net/source/microsoft-teams/337/student-light-skin-tone_1f9d1-1f3fb-200d-1f393.png">
        {% else %}
        <img class="profile-pic" src="https://em-content.zobj.net/source/microsoft-teams/337/woman-student-light-skin-tone_1f469-1f3fb-200d-1f393.png">
        {%endif%} 
        <h2><b>All About Me</b></h2></br>
        <h5 style="padding-bottom:2%">Name: <b>{{student.firstName}}</b><b> {{student.lastName}}</b></h5>
        <h5 style="padding-bottom:2%">College: <b>{{student.branch.college.name}}</b></h5>
        <h5 style="padding-bottom:2%">Branch: <b>{{ student.branch }}</b></h5>
        <h5 style="padding-bottom:2%">Registration Number: <b>{{ student.registrationNum }}</b></h5>     
        <h5 style="padding-bottom:2%">Email: <b>{{ student.email }}</b></h5>        
      </div>

      <!-- Update Profile -->

      <div class="profile-update-content tab-pane fade card" id="nav-profile-update" role="tabpanel" aria-labelledby="nav-profile-update-tab">
        {% if messages %}
            {% for message in messages %}
            {% if 'InvalidDetails' in message.tags or 'ProfileUpdated' in message.tags %}
        <script>
          var message = "{{message}}";
          alert(message);
        </script> 
        {% endif%}
       {% endfor %}
       {% endif %}   
        <form action="" method='POST'>
            {% csrf_token %}
             <h2><b>Please enter in the fields that you want to update</b></h2></br>
             <table class="table-body">
                <tr class="table-row">
                  <td><strong>First Name</strong></td>
                  <td class="table-data"><input class="input-field" type="text" autocomplete="off" name='fname' value="{{student.firstName}}"/></td>
                </tr>
                <tr class="table-row">
                    <td><strong>Last Name</strong></td>
                    <td class="table-data"><input class="input-field" type="text" autocomplete="off" name='lname' value="{{student.lastName}}"/></td>
                </tr>
                <tr class="table-row">
                    <td><strong>Email</strong></td>
                    <td class="table-data"><input class="input-field" type="email" autocomplete="off" name='email' value="{{student.email}}"/></td>
                </tr>
                <tr class="table-row">
                    <td><strong>Change Password</strong></td>
                    <td class="table-data"><input class="input-field" type="password" autocomplete="off" name="password1"/></td>
                </tr>
                <tr class="table-row">
                    <td><strong>Confirm Password</strong></td>
                    <td class="table-data"><input class="input-field" type="password" autocomplete="off" name="password2"/></td>
                </tr>
               </table>
            <button type="submit" name="update-student-profile-btn" class="btn-primary btn btn-lg" style="margin-top:2%;"><h5>Update Profile</h5></button>
        </form>
      </div>

    </div>
</section>

{% endblock %}