{% extends 'base.html' %}
{% block cssFiles %} 
<link rel="stylesheet" href="/static/home.css">
{% endblock %}
{% block content %}
<div class="card shadow p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <img class="profile-pic" src="https://em-content.zobj.net/source/animated-noto-color-emoji/356/check-mark-button_2705.gif">
      <h5 class="card-text">Your test is submitted sucessfully</h5>
      <a href="{% url 'studentHome' %}" class="card-link">Back To Home</a>
    </div>
  </div>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %} 
<script>
// Check if the page is loaded from the cache
if (window.performance && window.performance.navigation.type === window.performance.navigation.TYPE_BACK_FORWARD) {
  // Redirect the user to a home page
  window.location.href = "{% url 'studentHome' %}";
}
</script>
{% endblock %}