{% extends 'base.html' %}
{% block cssFiles %} 
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate">
<link rel="stylesheet" href="/static/tests.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">
  
      <!-- Nav Bar -->
      {{ responses|json_script:"responses" }}
      <nav class="navbar navbar-expand-lg navbar-dark navbar-fixed-top">
        <a class="navbar-brand" href=""><h2 class='my-4' style="display: inline-block;">Test Name: <span class='text-primary'>{{test.testName}}</span></h2></a>
        <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <h2 id="timer" style="color:white;"><i class="fa-solid fa-timer"></i></h2>
              </li>
          </ul> 
        </div>
      </nav>
    </div>
  </section>

  <!-- Test Questions -->

  <section class="testQuestions" style="padding-left: 2%; padding-right: 2%; padding-top: 2%;">
    {% for q in final_questions %}
    <div class='card shadow p-3 mb-5 bg-white rounded'>
        <form method='POST' action="" id="quiz-form">
            {% csrf_token %}
            <input type="hidden" value="{{q.id}}" id="{{q.id}}" class="question" />
            <h4 class='card-header border-dark' style="background-color: #0B2447; color: #fff; text-align: left;">Q.{{forloop.counter}} {{q.question}}</h4>
            <div class = 'card-body'>
                  <table class='table table-bordered'>
                      <tr>
                          <td class='col-1' style = 'width:0.5%'><input required id='{{q.id}}_option_1' name='answer_{{q.id}}' type="radio" value="a"/></td>
                          <th class='col-lg-3 col-md-12'><label for='{{q.id}}_option_1'>{{q.opt_1}}</label></th>
                      </tr>
                      <tr>
                          <td class='col-1'><input required id='{{q.id}}_option_2' name='answer_{{q.id}}' type="radio" value="b"/></td>
                          <th class='col-lg-3 col-md-12'><label for='{{q.id}}_option_2'>{{q.opt_2}}</label></th>
                      </tr>
                      <tr>
                          <td class='col-1'><input required id='{{q.id}}_option_3' name='answer_{{q.id}}' type="radio" value="c"/></td>
                          <th class='col-lg-3 col-md-12'><label for='{{q.id}}_option_3'>{{q.opt_3}}</label></th>
                      </tr>
                      <tr>
                          <td class='col-1'><input required id='{{q.id}}_option_4' name='answer_{{q.id}}' type="radio" value="d" {% if response == q.opt_4 %}checked{% endif %} /></td>
                          <th class='col-lg-3 col-md-12'><label for='{{q.id}}_option_4'>{{q.opt_4}}</label></th>
                      </tr>
                  </table>
            </div>
            <div class='card-footer'>
                <!--input type='submit' name='Skip' value='Skip' class='btn btn-warning skipBtn'/-->
                <input type='submit' name='Save' value='Save' id="{{q.id}}_submit" class='btn btn-primary submitBtn saveButton' data-id="{{q.id}}"/>
            </div>
        </form>
    </div>
    {% endfor %}

    <form method="post" action="{% url 'testSubmitted' test.id %}" id="submit-test" style="text-align: center; padding-bottom: 1%;">
      {% csrf_token %}
      <button type='submit' id="submit-btn" class='btn btn-lg btn-danger submitBtn shadow p-3 mb-5 rounded'><strong>Submit Quiz</strong></button>
    </form>

  </section>
{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %} 
<script defer>
  // Disable browser back button
  history.pushState(null, null, location.href);
  window.onpopstate = function () {
    history.go(1);
  };
   

  window.onload = () => {
    var dict = JSON.parse(document.getElementById('responses').textContent);
    ids.forEach(id => {
      if(dict[parseInt(id)] !== undefined){
        for(let i = 1; i < 5;i++){
          var option = document.getElementById(id+'_option_'+i);
          if(option.value == dict[parseInt(id)]){
            option.checked = true;
          }
        }
      }
    });
  }

const ws_url = 'ws://'+ window.location.host + '/ws/save';
  const socket = new WebSocket(ws_url);
  const questions = document.querySelectorAll('.question');
  let ids = []
  questions.forEach(question => {
    ids.push(question.value);
  });
  var time_in_seconds = "{{ timeRemaining }}";
  var current_time = Date.parse(new Date());
  var deadline = new Date(current_time + time_in_seconds*1000);

  var interval = setInterval(function() {
    var t = Date.parse(deadline) - Date.parse( new Date());
    if (t <= 0) {
      clearInterval(interval);
      document.getElementById("submit-test").submit();
    }
    var seconds = Math.floor((t / 1000) % 60).toString().padStart(2, '0');
    var minutes = Math.floor((t / 1000 / 60) % 60).toString().padStart(2, '0');
    var hours = Math.floor((t / (1000 * 60 * 60)) % 24).toString().padStart(2, '0');

    // Display the time remaining in the timer element
    var timerElement = document.getElementById("timer");
    timerElement.innerHTML = "Time Remaining <br>" + hours + ":" + minutes + ":" + seconds;
   
  }, 1000, deadline);   

  setInterval(function() {
    var t = Date.parse(deadline) - Date.parse(new Date());
    var time_remaining = Math.floor(t / 1000); // Get the time remaining in seconds
    //var timerValue = document.getElementById("timer");
    socket.send(JSON.stringify({
        'type': 'timer_update',
        'test_id': '{{test.id }}',
        'student_id': '{{request.session.username}}',
        'timer': time_remaining 
    }));
  },5000);

  const saveButtons = document.querySelectorAll('.saveButton');
  saveButtons.forEach(button => {
    button.addEventListener('click', (e) => {
      e.preventDefault();
      const id = button.dataset.id;
      var options = document.getElementsByName('answer_' + id);
      var selected_option = ""
      for(i = 0; i < options.length; i++) {
            if(options[i].checked)
              selected_option = options[i].value;
      }
      socket.send(JSON.stringify({
        'type': 'save_answer',
        'attempt_id': "{{attempt.id}}",
        'question_id': id,
        'selected_option': selected_option
      }));
    });
  });

  socket.onmessage = (e) => {
    console.log(e.data); 
  };

  socket.onopen = (e) => {
    console.log("Connection opened");
  }
</script>
{% endblock %}