{% extends 'base.html' %}
{% block cssFiles %} 
<link rel="stylesheet" href="/static/tests.css">
{% endblock %}
{% block content %}
<section id="title">
    <div class="container-fluid">
  
      <!-- Nav Bar -->  
      <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href=""><img class="logo-img" src="/static/logo.png" alt="EduTrack" style="width:220px;height:12vh;"></a>
        <button class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                  <a class="nav-link" href="#footer"><i class="fa-solid fa-address-book"></i> Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'profHome' %}"><i class="fa-solid fa-house"></i> Back to Home</a>
            </li>
          </ul> 
        </div>
      </nav>
    </div>
  </section>

  <!-- Tests -->
  <section id="allTests" style="background-color:white; min-height:40rem; align-items: center;">
      {% if data %}
        </br><h2><b>Select Tests</b></h2>
        <div class='row container'>
          {% for d in data %}   
          <div class="col-sm-4 col-md-4 col-lg-3 border-0 rounded-0">
            <div class="card shadow p-3 mb-5 bg-white rounded">
              <div class="card-body" style="text-align: center;">
                <h4 class="card-title">{{d.testName}}</h4>
                <h5>{{ d.subject}}</h5>
                <a href="{% url 'testResults' d.id %}" class="btn btn-outline-info rounded-0">View Result</a>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      {% else %}
        </br><h2><b>You haven't taken any test till now.</b></h2>
      {% endif %}
  </section>
{% endblock %}