<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <meta name="viewport" , content="with =device-width, initial-scale=1.0" />
    <title>Professor Home</title>
    <link rel="stylesheet" href="/static/registrationForm.css" />
  </head>
  <body>
			<section class="header">
					<h2>College Book</h2>
					<nav>
						<div class="nav-links" id="navLinks">
							<ul>
                                <li><a href="{% url 'studentHome' data %}">HOME</a></li>
							</ul>
						</div>
					</nav>
				</section>
                <div>
                    <br>
                    <h2>Test is submitted.</h2>
                </div>
	</body>
</html>


