body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: center;
    padding: 5% 10%;
}

h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

h5{
    font-weight: bold;
    line-height: 510%;
    padding: 0 10%;
    text-align: center;
}

#title{
    /*background-color: #0B2447;*/
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,109,121,1) 42%, rgba(0,212,255,1) 90%);
    color: #fff;
    padding: 0 10% 0 10%;
}

.container-fluid{
    padding: 3% 15%;
}

.page-top{
    padding-top: 7%;
    padding-bottom: 7%;
}

/* Navbar */

.nav-item{
    padding: 0 18px;
}

/* Login */

.login-form{
    text-align: center;
    background-color: #130f40; 
    padding-bottom: 3%;
    padding-right: 1%;
    padding-left: 1%;
}

.table-body{
    margin: auto;
}

.table-data{
    padding-left: 5%;
    padding-bottom: 3%;
}

.table-row{
    padding-bottom: 10%;
}

.input-field{
    width: 100%;
}

.login-button{
    width: 30%;
    font-family: 'Ubantu', sans-serif;
    font-weight: 400;

    background-color: #0576cd;
    border: 0.5%;
    border-color: #0B2447;
}

/* About Us */

#aboutUs{
    padding-bottom: 8%;
}

#aboutUs h1{
    color:#000;
    padding-top: 2%;
    padding-bottom: 2%;
}

.about-us{
    width: 80%;
    text-align: center;
    margin: auto;
    line-height: 2;
    background-color: #c4ebf994;
    padding-top: 2%;
    padding-bottom: 2%;
}

.paper-img{
    width: 20%;
    float: left;
    margin-right: 10%;
    margin-bottom: 5%;
}

/* Features */
.feature_container {
    background-color: #c4ebf994; 
    padding-bottom: 8%;
}
.feature_heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.feature_heading .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .column {
    border-right: 2px solid black;
    width: 250px;
    height: 250px;
  }

  .circle {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fff;
    margin: 20px 20px;
    position: relative;
  }
  .image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

/* Footer Section */

.footer{
    text-align: center;
    padding: 3% 15%;
    background-color: #130f40;
    color: #fff;
}

.footer .credit{
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  color:#1d166c;
}

.social-icons{
    margin-right: 7%;
}